.average-session {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        color: rgba(255, 255, 255, 0.5);
        padding: 2em 2em 0 2em;
    }
    &__personnalizedAxis {
        display: flex;
        flex: 1;
        font-size: 12px;
        justify-content: space-between;
        padding: 1em 1em 1.5em 1em;
        li {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}