.tooltip {
    color: white;
    font-size: 10px;
    &--primary {
        background-color: #E60000;
    }
    &--light {
        background-color: #fff;
        color: #000;
    }
    &__listctn {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            padding: 1.5em 1em;
        }    
    }
}