.daily-activity {
    background: $greybackground;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    padding: 2em;
    &__heading {
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        margin-bottom: 3em;
        &__listctn {
            align-items: center;
            display: flex;
            gap: 3em;
            li {
                align-items: center;
                display: flex;
                &::before {
                    content: "";
                    background-color: $secondary;
                    border-radius: 2em;
                    height: 10px;
                    margin-right: 1em;
                    width: 10px;
                }
            }
            .calories::before {
                background-color: #E60000;
            }
        }
    }
    .recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child {
        stroke-opacity: 0;
    }
}