.recapbox {
    align-items: center;
    background: $greybackground;
    border-radius: $radius;
    display: flex;
    padding: 1.8em;
    width: 260px;
    &__iconctn {
        align-items: center;
        border-radius: $radius;
        display: flex;
        height: 60px;
        justify-content: center;
        margin-right: 2em;
        width: 60px;
        &--fire {
            background-color: rgba(255, 0, 0, 0.1);
        }
        &--meet {
            background-color: rgba(74, 184, 255, 0.1);
        }
        &--apple {
            background-color: rgba(249, 206, 35, 0.1);
        }
        &--burger {
            background-color: rgba(253, 81, 129, 0.1);
        }
    }
    &__text {
        h3 {
            font-size: 20px
        }
        p {
            font-size: 14px
        }
    }
}