.sidebar {
    align-items: center;
    background-color: $blackbackground;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    left: 0;
    padding-top: 90px;
    position: fixed;
    top: 0;
    width: 120px;
    z-index: -1;
    &__listctn {
        margin: auto;
        &__element {
            background: white;
            border-radius: 0.5em;
            display: flex;
            height: 64px;
            margin: 2em 0;
            padding: 1em;
            width: 64px;
            img {
                width: 100%;
            }
        }
    }
    &__copiryght {
        margin-bottom: 5em;
        color: white;
        font-size: 12px;
        text-orientation: mixed;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
    }
}