@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #020203;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: 90px;
  position: fixed;
  width: 100%;
}
.header__logoctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 1;
  margin-left: 1em;
}
.header__logoctn img {
  display: block;
}
.header__nav {
  grid-column: 2/6;
  margin: 0 5em;
}
.header__nav__listctn {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav__listctn li {
  margin-left: 1em;
}

.sidebar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #020203;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  padding-top: 90px;
  position: fixed;
  top: 0;
  width: 120px;
  z-index: -1;
}
.sidebar__listctn {
  margin: auto;
}
.sidebar__listctn__element {
  background: white;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  margin: 2em 0;
  padding: 1em;
  width: 64px;
}
.sidebar__listctn__element img {
  width: 100%;
}
.sidebar__copiryght {
  margin-bottom: 5em;
  color: white;
  font-size: 12px;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

main {
  margin-left: 120px;
  padding: 9em 7em 5em 7em;
}

.daily-activity {
  background: #FBFBFB;
  border-radius: 0.3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2em;
}
.daily-activity__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
}
.daily-activity__heading__listctn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}
.daily-activity__heading__listctn li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.daily-activity__heading__listctn li::before {
  content: "";
  background-color: #020203;
  border-radius: 2em;
  height: 10px;
  margin-right: 1em;
  width: 10px;
}
.daily-activity__heading__listctn .calories::before {
  background-color: #E60000;
}
.daily-activity .recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child {
  stroke-opacity: 0;
}

.recapbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FBFBFB;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8em;
  width: 260px;
}
.recapbox__iconctn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2em;
  width: 60px;
}
.recapbox__iconctn--calories {
  background-color: rgba(255, 0, 0, 0.1);
}
.recapbox__iconctn--proteines {
  background-color: rgba(74, 184, 255, 0.1);
}
.recapbox__iconctn--glucide {
  background-color: rgba(249, 206, 35, 0.1);
}
.recapbox__iconctn--lipide {
  background-color: rgba(253, 81, 129, 0.1);
}
.recapbox__text h3 {
  font-size: 20px;
}
.recapbox__text p {
  font-size: 14px;
  text-transform: capitalize;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  border: 6px solid #FF0101;
  border-bottom-color: transparent;
  border-radius: 22px;
  -webkit-animation: 1s rotate infinite linear;
          animation: 1s rotate infinite linear;
  height: 0;
  width: 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.tooltip {
  background-color: #E60000;
  color: white;
  font-size: 10px;
  padding: 0.5em 0;
}
.tooltip__listctn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tooltip__listctn li {
  padding: 1.5em 1em;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  height: 100%;
}
.profil__heading__salutation {
  margin-bottom: 0.5em;
}
.profil__heading__salutation span {
  color: #FF0101;
}
.profil__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}
.profil__content__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.profil__content__activity__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 2em;
}
.profil__content__activity__details > * {
  background-color: #FBFBFB;
  border-radius: 0.3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}
.profil__content__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}/*# sourceMappingURL=main.css.map */